.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	background-color: #555555;
	border: 0px;
	padding: 0px;
	margin: 0px;
	width: 100vw;
	height: 100vh;
}

div.container {
	display: grid;
	background-color: #888888;
}

div.container.long {
	grid-template-columns: 3fr 1fr;
}

div.container.tall {
	grid-template-rows: 3fr 1fr;
}

div.controlpanel {
	display: grid;
}

div.controlpanel.long {
	grid-template-rows: repeat(4, 1fr);
}

div.controlpanel.tall {
	grid-template-columns: repeat(4, 1fr);
}

div.btn {
	text-align: center;
	width: 80%;
	height: 7em;
	line-height: 7em;
	background-color: #99CCFF;
}

div.btn.disabled, div.btn.disabled:hover {
	background-color: #99CCFFA8;
	color: #000000A8;
	cursor: default;
}

div.btn:hover {
	background-color: #6699CC;
	cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}